<style>
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  .flex-item {
    height: 350px;
    margin: 3px;
    overflow-y: auto;
  }

    .flex-item ul {
      list-style: none;
      width: 350px;
    }

    .flex-item li {
      background-color: black;
      color: white;
      width: 320px;
      display: inline-flex;
    }
</style>
<h1 style="color: darkslateblue;">Hello, world!</h1>